# ggsql Jupyter Kernel Test Notebook

This notebook demonstrates the ggsql-jupyter kernel capabilities.

## Simple SQL Query

In [ ]:
SELECT 1 as x, 2 as y, 'Hello from ggsql!' as greeting

## Create a Table

In [ ]:
CREATE TABLE sales (
    date DATE,
    product VARCHAR,
    revenue DOUBLE,
    region VARCHAR
)

## Insert Sample Data

In [ ]:
INSERT INTO sales VALUES
    (DATE '2024-01-01', 'Widget', 1000, 'North'),
    (DATE '2024-01-02', 'Widget', 1200, 'North'),
    (DATE '2024-01-03', 'Widget', 1100, 'North'),
    (DATE '2024-01-01', 'Gadget', 800, 'South'),
    (DATE '2024-01-02', 'Gadget', 900, 'South'),
    (DATE '2024-01-03', 'Gadget', 850, 'South')

## Query the Data

In [ ]:
SELECT * FROM sales ORDER BY date, product

## Simple Visualization - Point Plot

In [ ]:
SELECT n as x, n * n as y
FROM generate_series(1, 10) as t(n)
VISUALISE x, y
DRAW point
LABEL title => 'Quadratic Function', x => 'X Value', y => 'Y Value'

## Line Chart from Sales Data

In [ ]:
SELECT date, revenue, product
FROM sales
ORDER BY date
VISUALISE date AS x, revenue AS y, product AS color
DRAW line
SCALE x SETTING type => 'date'
LABEL title => 'Sales Revenue Over Time', x => 'Date', y => 'Revenue ($)'

## Multi-Layer Visualization

In [ ]:
SELECT date, revenue, product
FROM sales
ORDER BY date
VISUALISE date AS x, revenue AS y, product AS color
DRAW line
DRAW point
SCALE x SETTING type => 'date'
LABEL title => 'Sales with Data Points', x => 'Date', y => 'Revenue ($)'

## Bar Chart

In [ ]:
SELECT product, SUM(revenue) as total_revenue
FROM sales
GROUP BY product
VISUALISE product AS x, total_revenue AS y
DRAW bar
LABEL title => 'Total Revenue by Product', x => 'Product', y => 'Total Revenue ($)'

## Faceted Visualization

In [ ]:
SELECT date, revenue, region
FROM sales
ORDER BY date
VISUALISE date AS x, revenue AS y
DRAW line
FACET region
SCALE x SETTING type => 'date'
LABEL title => 'Revenue by Region', x => 'Date', y => 'Revenue ($)'